<div class="sign-in-form">
	<span>Sign In</span>
	<form action="/login" method="post">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Login">
	</form>
</div>

