<div class="sign-in-form">
	<span>Sign In</span>
	<form action="">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="button" value="Login">
	</form>
</div>