<div class="registration-form">
	<span class="signin">Register</span>
	<% if !!@errors %>
	<div class="error">
		<p><span class="error-message"><%= @errors %></span></p>
	</div>
	<% end %>

	<div class="form-registration">
		<form action="/register" method="post">
			<div class="field">
				<input type="text" name="name" placeholder="Name">
			</div>
			<div class="field">
				<input type="text" name="email" placeholder="Email">
			</div>
			<% if !!@error_email %>
			<div class="error">
				<br><p><span class="error-message"><%= @error_email %></span></p>
			</div>
			<% end %>

			<div class="field">
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="field">
				<input type="submit" value="Register">
			</div>
		</form>
	</div>
</div>

